body, ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd,nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    vertical-align: top;
}
a{
    color: #613a43;
    text-decoration: none;
}
a:visited {
    color: #613a43;
    text-decoration: none;
}
h1,h2{
	text-align: center;
}
h1{
	margin: 50px 0;
}
h2{
	margin: 70px 0;
}

.red{
	color: #ff3838;
}

.bold{
	font-weight:bold;
}

.app_description{
	display: flex;
	align-items:center;
	background: #efefef;
	border-radius: 30px;
	margin: 40px;
	padding: 45px;
}

.app_description p{
	margin: 0 30px;
}

.category{
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-bottom: 50px;
}
.category li{
	margin: 10px;
}
.category li:hover{
	opacity: 0.8;
}
.sp{
	display: none;
}

@media screen and (max-width: 1023px) {

	.sp{
		display: block;
	}
	.pc{
		display: none;
	}
	h1 img{
		width: 90%;
	}
	h2{
		margin: 35px 0;
	}
	h2 img{
		width: 90%;
	}
	.app_description{
		display: flex;
		justify-content:center;
		flex-direction:column;
		margin: 20px;
		padding: 25px;
	}
	.app_description p{
		margin: 30px 0;
	}
	.category{
		text-align: center;
	}
	.category img{
		width: 90%;
	}
}
